.quiz-list-wrapper {
    display: flex;
    flex-direction: column;
    color: #bab2b5;
}

.quiz-list-btn-add-quiz {
    margin-top: 2vw !important;
    margin-left: 45% !important;
    max-width: 10vw;
    background: #eee2dc !important;
    border: 4px solid #123c69 !important;
    color: #123c69 !important
}